.App {
  text-align: center;
}

:root {
  --primary-color: #b0c59f;
  --secondary-color: #fafbf0;
  --tertiary-color: #5e855f;
  --black-color: #0d0d0d;
}

body {
  font-family: "Oxygen", sans-serif;
  background-color: var(--primary-color, white);
  color: var(--black-color, black);
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: clamp(3rem, 10vw, 7rem);
  margin: 0;
}

#home-subtitle {
  font-size: clamp(1rem, 3vw, 2rem);
  margin-top: 0;
}
h2 {
  font-family: "Arvo", serif;
  font-size: 2.5rem;
  text-align: center;
  color: var(--tertiary-color, black);
}

h2:before,
h2:after {
  background-color: var(--black-color, black);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

h3 {
  font-size: 2rem;
  color: var(--tertiary-color, black);
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: var(--secondary-color, white);
}

.nav .nav-content {
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button {
  background-color: var(--tertiary-color, gray);
  color: var(--secondary-color, black);
  border: 1px solid var(--secondary-color, black);
  cursor: pointer;
}

/* CSS adapted from https://getcssscan.com/css-buttons-examples */
.button-28 {
  appearance: none;
  background-color: var(--secondary-color, transparent);
  border: 2px solid var(--tertiary-color, black);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--tertiary-color, black);
  cursor: pointer;
  display: inline-block;
  font-family: "Oxygen", sans-serif;
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 135px;
  outline: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: var(--secondary-color, white);
  background-color: var(--tertiary-color, black);
  border: 2px solid var(--secondary-color, black);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.section-content {
  padding: 80px;
  min-height: 100vh;
}

.home-container,
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  padding: 0px;
  flex-direction: column;
}

.about-container,
.project-container {
  display: grid;
  grid-auto-flow: column;
  padding: 25px 30px;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.about-text,
.project-text {
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: left;
}

.links {
  display: grid;
  grid-auto-flow: column;
}

.projectImg {
  width: clamp(250px, 45vw, 60vw);
  height: auto;
}

.repo,
.demo {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  h2 {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .about-container,
  .project-container {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
  .hamburger {
    display: fixed;
    padding-top: 10px;
    margin-right: 10px;
  }
  .nav-items-expanded {
    position: absolute;
    top: 65px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color, white);
    border-top: 1px solid var(--black-color, black);
    padding: 0;
  }
  .nav-item {
    flex-direction: column;
    cursor: pointer;
    padding-top: 15px;
  }
  .nav-items {
    display: none;
  }

  .nav-items-expanded {
    display: flex;
  }
}

.contact-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

footer {
  padding: 25px 0;
}
